<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rbista Zoom - ReadMe !</title>
<style type="text/css" media="all">
body {
	color: #333;
	font-size:14px;
}
p {
	padding:0px;
	margin:2px 0px;
}
.Wrapper {
	width:560px;
	padding:6px;
	margin:5px auto;
	border:1px solid #999;
	background:#E9E9E9;
}
.Html {
	border:1px solid #999;
	background:#F2F2F2;
	padding:8px;
	color:#666;
	font-size:14px;
	margin:2px 0px;
}
.File {
	text-decoration: underline;
	color:#09C;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
}
.Important {
	text-decoration: underline;
	color: #F00;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
}
.Custom {
	text-decoration: underline;
	color: #060;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
}
</style>
</head>

<body>
<div class="Wrapper">
<center><h2>Rbista Zoom</h2></center>
<h2>Instructions : </h2>
    <ol>

      <li>Reference the CSS ( <b class="File">RbZoom.css</b> ) and Javascript ( <b class="File">RbZoom.js</b> ) files in the &lt;head&gt; of your page.</li>
      <li>Zoom an image by linking your small image to your zoom image with the CSS class of "RbZoom". See the example HTML below</li>
    </ol>

    <p>Your code should look something like this :</p>
    <div class="Html">
      <p>&lt;html&gt;</p>
      <p>&lt;head&gt;</p>
      <blockquote style="margin:0px 25px">
        <p>&lt;title&gt;Rbista Zoom&lt;/title&gt;</p>

        <p>&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;<b class="File">RbZoom.css</b>&quot;  /&gt;</p>
        <p>&lt;script type=&quot;text/javascript&quot; src=&quot;<b class="File">RbZoom.js</b>&quot;&gt;&lt;/script&gt;</p>

      </blockquote>
      <p>&lt;/head&gt;</p>
      <p>&lt;body&gt;</p>
      <blockquote style="margin:0px 25px">
        <p>&lt;a href=&quot;<b class="File">zoom-image.jpg</b>&quot; class=&quot;<b class="Important">RbZoom</b>&quot;&gt;&lt;img src=&quot;<b class="File">small-image.jpg</b>&quot;/&gt;&lt;/a&gt;</p>

      </blockquote>
      <p>&lt;/body&gt;</p>
      <p>&lt;/html&gt;</p>
    </div>
<h2>Customization : </h2>
 <h3>Zoomed area position</h3>
 <p> Change the position of the zoomed area to either top/right/bottom/left by adding the <strong>rel</strong> attribute to your <strong>&lt;a&gt;</strong> tag. The default position is right. Example code : </p>

 <div class="Html">
        <p>&lt;a href=&quot;<b class="File">zoom-image.jpg</b>&quot; rel=&quot;<b class="Custom">position:left</b>&quot; class=&quot;<b class="Important">RbZoom</b>&quot;&gt;&lt;img src=&quot;<b class="File">small-image.jpg</b>&quot;/&gt;&lt;/a&gt;</p>
 </div>

 <h3>Add Products Thumbnails</h3>

 <p> You can display different images of a product by adding the <strong>id</strong> of Thumbnails block to the <strong>rel</strong> attribute of the main image link. Example code : </p>
 <div class="Html">
    <p>&lt;a href=&quot;<b class="File">zoom-image-1.jpg</b>&quot; rel=&quot;<b class="Custom">thumbs:ThumbsBlock</b>&quot; class=&quot;<b class="Important">RbZoom</b>&quot;&gt;&lt;img src=&quot;<b class="File">small-image-1.jpg</b>&quot;/&gt;&lt;/a&gt;</p>

 <p>&lt;div id=&quot;<b class="Important">ThumbsBlock</b>&quot; class=&quot;RbProdThumbs&quot; &gt;</p>
      <blockquote style="margin:0px 25px">
<p>&lt;a href=&quot;<b class="File">zoom-image-1.jpg</b>&quot;  rel=&quot;<b class="File">small-image-1.jpg</b>&quot;&gt; &lt;img src=&quot;<b class="File">thumb-image-1.jpg</b>&quot; alt=&quot;&quot;/&gt; &lt;/a&gt;</p>

<p>&lt;a href=&quot;<b class="File">zoom-image-2.jpg</b>&quot; &gt;  rel=&quot;<b class="File">small-image-2.jpg</b>&quot;&gt; &lt;img src=&quot;<b class="File">thumb-image-2.jpg</b>&quot; alt=&quot;&quot;/&gt; &lt;/a&gt;</p>
	</blockquote>

<p>&lt;/div&gt;</p>
</div>
<p>Notice : you can add the thumbs an position to the <strong>rel</strong> attribute of the main image link . Exemple rel="<b class="Custom">position:bottom ; thumbs:ThumbsBlockId</b>"</p>
<h2>Js Configuration : </h2>
<div class="Html">
	var zoomAreaWidth = '300px'; // Zoom Area Width in pixel !
</div>
<div class="Html">

	var zoomAreaHeight = '300px'; // Zoom Area Height in pixel !
;
</div>
<div class="Html">
	var loadingImg = 'images/loading.gif'; // Zoom Loading Image
</div>
<div class="Html">
	var thumbFadeSpeed = 9; // Thumbnails fading Speed (1 ~ 10)</div>

   <br />
   <p>Thank you for purchasing our product.Enjoy !</p>
</div>

</body>
</html>
