<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="/bindery/css/search_links.css" />
    </head>
    <body>
        
        <!-- CONTENT DIV -->
        <div id="scrolling">

            <img src="../img/transparent.png" id="NTtopTransparent" alt="" />                        
            <!-- Flash message -->
            <!-- Flash auth message -->            
            <div id="detail">

                <div id="feature-pic" style="background: url('../img/images/thumb/x640y480/DSC01732.JPG') no-repeat scroll 0px 0px transparent;">
                    <div id="feature-overlay">
                        <img src="../img/images/thumb/x160y120/DSC01732.JPG" id="featurePicture" alt="" />
                        <h2 id="featureHeading">Bench Skills: Cutting</h2>
                        <p>Accurate cutting is the starting point for quality bindin...al of techniques and skills which will serve you in all your future projects.</p>
                        <h3 class="featureCost">Session 1 is 8 hours, $120 // Session 2 is 7 hours, $120</h3>
                        <div id="featuredSession">
                            <button class="register">Register: Session 1 - $120</button>
                            <p class="day"><time datetime="2013-06-07T09:00">June 6 2013, 9:00 </time><span class="am">AM</span> - 2:00 <span class="pm">PM</span></p>
                            <p class="day"><time datetime="2013-06-08T09:00">June 6 2013, 9:00 </time><span class="am">AM</span> - 2:00 <span class="pm">PM</span></p>
                            <button class="register">Register: Session 2 - $120</button>
                            <p class="day"><time datetime="2013-09-20T07:00">September 20 2013, 7:00 </time><span class="am">AM</span> - 3:00 <span class="pm">PM</span></p>
                        </div> <!-- close id=featueSession -->
                    </div> <!-- close id=feature-overlay -->
                </div> <!-- close id=featureHeading -->
            </div> <!-- close id=detail -->
        </div> <!-- close id=scrolling -->
        
</body>
</html>
