app/webroot/img/images/*.*
app/webroot/img/images/*
app/tmp/
app/Config/*
!app/Config/bootstrap.php
!app/Config/routes.php
nbproject
app/webroot/img/materials
lib/Cake/Cache/.DS_Store
.DS_Store
app/Plugin/Upload
app/Plugin/Markdown
app/Plugin/Paypal
app/Plugin/PayPalSource
