/* 
    Document   : art.css
    Created on : Apr 6, 2013, 11:30:36 PM
    Author     : dondrake
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#detail {
    position: relative;
}
img.scalable {
    box-shadow: 0 0 0 1px #000000, 0 0 0 10px #e5e5e5, 0 0 0 11px #802A19;
    margin: 11px;
}

#scrolling #collectionIntro > p {
    border-right-width: 20px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 20px 20px;
    border: 2px solid white;
    border-top:none;
    display:block;
}

#detail > div#collectionIntro {
    background: none repeat scroll 0 0 #CCCCDD;
    /*border: 2px solid white;*/
    left: 10px;
    opacity: 0.85;
    /*position: absolute;*/
    /*top: 10px;*/
    width: 550px;
    z-index: 2;
}
#collectionIntro h1 {
    background-color: #E1E1E1;
    border: 2px solid white;
    border-bottom: none;
    border-top: 3px solid #802A19;
    color: #802A19;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 20px 7px 20px;
}

div#exhibit{
    /*position: absolute;*/
    top: 39px;
}

.show {
    float: right;
    font-size: 70%;
}

#proseblock {
    margin: 8px 0 0 20px;
    width: 550px;
}

h2#exhibitTitle {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

#exhibitContent > p{
    color: #666666;
    font-size: 14px;
    font-weight: normal;
/*    margin: 0 75px 0 10%;
    padding: 8px 0 15px;*/
    padding-bottom: 5px;
}

#exhibitContent > h3, #exhibitContent > h4, #exhibitContent > h5, #exhibitContent > h6 {
    font-family: 'lucida grande',verdana,helvetica,arial,sans-serif;
    color: #8C4A3D;
    font-size: 100%;
    font-weight: bold;
    margin: 0;
    padding: 3px 0;
}

h4 {
    margin-top: 50px;
}