/* 
    Document   : blog
    Created on : Dec 24, 2012, 10:42:32 PM
    Author     : dondrake
    Description:
        Purpose of the stylesheet follows.

        Override styles (supercedes new4.css) for the blog page
*/

body {
    
    background-image: url(../img/laid-background.png);
    background-repeat: repeat;
}
root { 
    display: block;
}

#fixedNav {
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 25px;
	position: relative;
	left: auto;
	top: 0px;
	right: auto;
	height: 160px;
    background-image: url(../img/banner-background.png);
    background-repeat: repeat-x;
	width: 100%;
	z-index: 5;
}
#NTfixedNav {
	margin: 0px auto 0px auto;
	padding: 5px 0px 0px 25px;
	position: relative;
	left: auto;
	top: 0px;
	right: auto;
	height: 50px; /*for no thumbnail version*/
    background-image: url(../img/laid-background.png);
    background-repeat: repeat;
	width: 100%;
	z-index: 5;
}
/*===============================
Menu
Main navigation strip formatting
===============================*/
#menuNav {
	position: absolute;
	top: 160px;
	left: 0px;
	width: 245px;
	height:auto;
	padding-left: 0px;
    background-image: url(../img/laid-background-s.png);
    background-repeat: repeat;
}
#navBar {
	font-size: 16px;
	width:190px;
	/*text-align:right;*/
	padding: 0px 25px 0px 40px;
	top:45px;
	height: auto;
	/* border: solid #fff 1px;*/ 
    background-image: url(../img/laid-background-s.png);
    background-repeat: repeat;
	position: absolute;
	/*left:45px;*/
}
ul {
	font-size: 16px;
	/*
	margin:0px;
	padding:0px;
	*/
}
ul li a {
	margin:0px;
	padding:0px;
	text-indent:0px;
}

li {
	list-style:none;
	text-indent: 0px;
}

sublist ul li a {
	border-right:solid #802A19 .5em;
}
.open {
	display:block;
}

.close {
	display:none;
}
#navBar ul {
	font-size:91%;
        margin: 4px 2px 6px -5px;
/*	margin-right:2px;
	margin-left:-10px;
	margin-bottom:6px;
	margin-top:4px;*/
}
#navBar li {
	margin-top:2px;
	margin-right:4px;
	/*line-height: .95;*/
	/*font-size:81%;*/
        color: #666;
}
#navBar a, #navBar a:visited, #navBar a:active {
        font-weight: lighter;
	color: #3f6d44;
	display:block;
	margin-right:-6px;
	padding-right:5px;
        text-decoration: none;
/*	border-right:solid #d2d1b4 .5em;
	border-bottom:solid #d2d1b4 1px;*/
}

#navBar .open a {
	color:#3F6D44;
/*	border-right:solid #d2d1b4 .5em;
	border-bottom:solid #d2d1b4 1px;*/
}

#navBar .menuopen a{
	color: #3F6D44;
}

#navBar .active a {
	color:#3F6D44;
	/*font-weight:bold;*/
/*	border-bottom:solid #802A19 1px;
	border-right:solid #802A19 .5em;*/
}

#navBar .menuactive a {
/*	border-right:solid #bbb .5em;
	border-bottom:solid #ddd 1px;    */
}

#navBar a:hover {
	color:#802A19;
	text-decoration:inherit;
	/*border-right:solid #802A19 .5em;*/
}

#navBar .linkDiv {
    text-align: left;
    height: 82px;
    border-top: thin solid #3F6D44
}

#navBar .linkDiv p.aside {
    font-size: 10px;
    color: #555;
    width: 100%;
    padding-top:2px;
}

#navBar .linkDiv a {
    font-size: 13px;
    font-weight: bold;
    border: none;
    padding-top: 3px;
}

#navBar .linkDiv img {
    float: left;
    padding-right: 6px;
}

#navBar li.article > a {
    text-decoration: underline;
}

li.article {
    list-style-type: square;
}

/*Site search box format*/
#siteSearchBox {
	margin-top: 3px;
	padding: 10px 0px;
	width: 192px;
	margin-left: 45px;
}
input.siteSearchInput {
    width: 163px;
    background-color: #EAE7D2;
}
input.siteSearchButton {
    float: right;
    width: 21px;
    margin-right: -10px;
    margin-left: 0px;
}
.inputBox {
	font-size: 10px;
	text-align: right;
	color:#999
}

/*account tool and jumpbox formats*/
#accountTool, #jumpBox {
	clear: both;
	padding-top: 5px;
}
#jumpBox label, #jumpBox input {
	display: inline;
}
input#jumpInput {
	width: 8em;
}
input#searchInput {
	width: 180px;
}

#scrolling {
/*	padding-top: 150px;*/
	padding-left: 260px;
        padding-top: 10px;
	width: 800px;
}
#scrolling h1 {
    color: #3f6d44;
    background-color: transparent;
    font-size: 18px;
    margin: 0;
    padding: 0px 15px 10px 12px;
    /*text-align: right;*/
    /*font-weight: bold;*/
    /*font-variant: small-caps;*/
    /*border-top: thin solid #802A19;*/
}
#scrolling h2 {
    color: #3f6d44;
    background-color: transparent;
    font-size: 36px;
    margin: 0;
    padding: 0px 15px 10px 12px;
    /*text-align: right;*/
    font-weight: bold;
    /*font-variant: small-caps;*/
    /*border-top: thin solid #802A19;*/
    font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
}
#headerTools {
	text-align: right;
	font-size:10px;
/*	float: right;*/
	padding: 0px 35px 0px 0px;
        position: absolute;
        top: 15px;
        left: 450px;
        width: 600px;
}

#detail img{
    float: left;
    padding: 3px;
    margin: 5px 20px 10px 2px;
    border: 1px solid #b4ab61;
    background-color: #fff;
}

button.related {
    background-color: #DAE7C2;
    cursor: pointer;
    margin-left: 15px;
    opacity: 0.5;
    padding: 1px;
}

/*#detail p{
    padding: 8px;
}*/
#detail li{
    list-style: disc inside;
    font-size: 90%;
    padding: 4px 0px 4px;
    /*margin-left: 340px;*/
    /*margin-left:10px;*/
}
div.entry{
    float:left;
    position: relative;
}

/*The visual indicator of hover_zoom on blog inline images*/
.entry .markdown menu.hover_zoom{
    position: relative;
    float: right;
/*    margin-left: -20px;
    margin-bottom: 120px;
    transform: rotate(-45deg);
    transform-origin: center top 0;*/
    opacity: .8;
    margin: 12px 12px 110px -50px;
}
.entry .markdown menu.hover_zoom a{
    padding: 1px 3px;
    color: black;
    font-weight: bold;
}
#detail .entryText img#zoomed{
    position: absolute;
}
.entry menu.zoom, .entry menu.local_zoom{
/*.entry menu.zoom{*/
    position: absolute;
    margin-top: 0px;
    font-size: 10px;
}
.entryText{
    margin-left:160px;
    margin-top: 60px;
    padding: 15px 10px 15px 0px;
/*    border-bottom-left-radius: 50% 10%;
    border-bottom: thin solid #993;*/
    border-top-right-radius: 14em 2em;
    border-top: thin solid #993;
}
.x160y120, .x1000y750 {
    border-top-right-radius: 0px 0px;
    margin-top: 0px;
    margin-left: 187px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.x1000y750 {
    border: none;
}
.x640y480 {
    margin-top: 460px;
    padding-top: 42px;
}
#detail .entryText img{
    margin: 2px 0px 2px 8px;
    float: right;
}
.entryText p{
    margin: 0px 0px 8px;
}
.entryText:first-child{
    margin-top: 15px;
}
/*.entryText > h2:first-child {
    margin-top: 15px;
}*/
.entryTex p:last-of-type{
    margin-bottom: 20px;
}
.entryText h2, .entryText h5, .entryText h5, .entryText h5, .entryText h6 {
    margin: 6px 0px 4px;
    color: #3f6d44;
    background-color: transparent;
}

.entryText h2{
    font-size: 20px;
}
.zoom, .local_zoom {
    /*float: right;*/
    padding: 0;
    cursor: pointer;
    margin-top: 100px;
}
.zoom > a, .local_zoom > a {
    /*visibility: hidden;*/
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid #aaa;
    background-color: #eae7d2;
    color: #999;
    text-decoration: none;
    line-height: 1.5em;
}
.zoom:hover, .local_zoom:hover > a {
    visibility:visible;
}

/*Sequence Panel formats*/
#sequence_panel {
    position: absolute;
    top: 100px;
    left:150px;
    width:320px;
    height:800px;
    background-color: #eae7d2;
    overflow-x: auto;
    padding: 1em;
    text-align: left;
}
#sequence_panel fieldset{
    position: relative;
}
#sequence_panel img{
    position: absolute;
    top: 0px;
    /*float: left;*/
}
#sequence_panel input, #sequence_panel label{
    /*float: right;*/
    margin-left: 170px;
    width: 5em;
}
#sequence_panel p{
    margin-top: 40px;
}