/* 
    Document   : blog
    Created on : Dec 24, 2012, 10:42:32 PM
    Author     : dondrake
    Description:
        Purpose of the stylesheet follows.

        Override styles (supercedes new4.css) for the blog page
*/

body {
    
    background-image: url(../img/laid-background.png);
    background-repeat: repeat;
}
root { 
    display: block;
}

#fixedNav {
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 25px;
	position: relative;
	left: auto;
	top: 0px;
	right: auto;
	height: 160px;
    background-image: url(../img/banner-background.png);
    background-repeat: repeat-x;
	width: 100%;
	z-index: 5;
}
#NTfixedNav {
	margin: 0px auto 0px auto;
	padding: 5px 0px 0px 25px;
	position: relative;
	left: auto;
	top: 0px;
	right: auto;
	height: 50px; /*for no thumbnail version*/
    background-image: url(../img/laid-background.png);
    background-repeat: repeat;
	width: 100%;
	z-index: 5;
}
/*===============================
Menu
Main navigation strip formatting
===============================*/
#menuNav {
	position: absolute;
	top: 160px;
	left: 0px;
	width: 245px;
	height:auto;
	padding-left: 0px;
    background-image: url(../img/laid-background-s.png);
    background-repeat: repeat;
}
#navBar {
	font-size: 16px;
	width:190px;
	text-align:right;
	padding: 0px 25px 0px 45px;
	top:45px;
	height: auto;
	/* border: solid #fff 1px;*/ 
    background-image: url(../img/laid-background-s.png);
    background-repeat: repeat;
	position: absolute;
	/*left:45px;*/
}
ul {
	font-size: 16px;
	/*
	margin:0px;
	padding:0px;
	*/
}
ul li a {
	margin:0px;
	padding:0px;
	text-indent:0px;
}

li {
	list-style:none;
	text-indent: 0px;
}

sublist ul li a {
	border-right:solid #802A19 .5em;
}
.open {
	display:block;
}

.close {
	display:none;
}
#navBar ul {
	font-size:91%;
	margin-right:2px;
	margin-left:-10px;
	margin-bottom:6px;
	margin-top:4px;
}
#navBar li {
	margin-top:2px;
	margin-right:4px;
	/*line-height: .95;*/
}
#navBar a, #navBar a:visited, #navBar a:active {
        font-weight: lighter;
	color: #3f6d44;
	display:block;
	margin-right:-6px;
	padding-right:5px;
        text-decoration: none;
	border-right:solid #d2d1b4 .5em;
	border-bottom:solid #d2d1b4 1px;
}

#navBar .open a {
	color:#3F6D44;
	border-right:solid #d2d1b4 .5em;
	border-bottom:solid #d2d1b4 1px;
}

#navBar .menuopen a{
	color: #3F6D44;
}

#navBar .active a {
	color:#3F6D44;
	/*font-weight:bold;*/
	border-bottom:solid #802A19 1px;
	border-right:solid #802A19 .5em;
}

#navBar .menuactive a {
	border-right:solid #bbb .5em;
	border-bottom:solid #ddd 1px;    
}

#navBar a:hover {
	color:#802A19;
	text-decoration:inherit;
	border-right:solid #802A19 .5em;
}



/*Site search box format*/
#siteSearchBox {
	margin-top: 3px;
	padding: 10px 0px;
	width: 192px;
	margin-left: 45px;
}
input.siteSearchInput {
    width: 163px;
    background-color: #EAE7D2;
}
input.siteSearchButton {
    float: right;
    width: 21px;
    margin-right: -10px;
    margin-left: 0px;
}
.inputBox {
	font-size: 10px;
	text-align: right;
	color:#999
}

/*account tool and jumpbox formats*/
#accountTool, #jumpBox {
	clear: both;
	padding-top: 5px;
}
#jumpBox label, #jumpBox input {
	display: inline;
}
input#jumpInput {
	width: 8em;
}
input#searchInput {
	width: 180px;
}

#scrolling {
/*	padding-top: 150px;*/
	padding-left: 260px;
        padding-top: 10px;
	width: 1060px;
}
#scrolling h1 {
    color: #3f6d44;
    background-color: transparent;
    font-size: 36px;
    margin: 0;
    padding: 0px 15px 10px 12px;
    /*text-align: right;*/
    font-weight: bold;
    /*font-variant: small-caps;*/
    /*border-top: thin solid #802A19;*/
}
#headerTools {
	text-align: right;
	font-size:10px;
/*	float: right;*/
	padding: 0px 35px 0px 0px;
        position: absolute;
        top: 15px;
        left: 700px;
        width: 600px;
}

#detail img{
    float: left;
    padding: 3px;
    margin: 5px 20px 10px 2px;
    border: 1px solid #b4ab61;
    background-color: #fff;
}

/*#detail p{
    padding: 8px;
}*/
#detail li{
    list-style: disc inside;
    font-size: 90%;
    padding: 4px 0px 4px;
    margin-left: 340px;
    /*margin-left:10px;*/
}
#di {
    /*
    div for the deail images
    */
    width:666px;
    float: left;
}
#dp {
    width:380px;
    float:right;
}
div.entry{
    float:left;
}

.entryText{
    margin-left:340px;
    margin-top: 60px;
    padding: 15px 10px 15px 0px;
/*    border-bottom-left-radius: 50% 10%;
    border-bottom: thin solid #993;*/
    border-top-right-radius: 14em 2em;
    border-top: thin solid #993;
}
#detail .entryText img{
    margin: 2px 8px;
}
.entryText p{
    margin: 8px 0px 0px;
}
.entryText > p:first-child{
    margin-top: 15px;
}
.entryText > h2:first-child {
    margin-top: 15px;
}
.entryTex p:last-of-type{
    margin-bottom: 20px;
}
.entryText h2, .entryText h5, .entryText h5, .entryText h5, .entryText h6 {
    margin: 6px 0px 4px;
    color: #3f6d44;
    background-color: transparent;
}

.entryText h2{
    font-size: 20px;
}
.zoom {
    /*float: right;*/
    padding: 0;
    cursor: pointer;
    margin-top: 100px;
}
.zoom > a {
    /*visibility: hidden;*/
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid #aaa;
    background-color: #eae7d2;
    color: #999;
    text-decoration: none;
    line-height: 1.5em;
}
.zoom:hover > a {
    visibility:visible;
}

/*Sequence Panel formats*/
#sequence_panel {
    position: absolute;
    top: 100px;
    left:150px;
    width:320px;
    height:800px;
    background-color: #eae7d2;
    overflow-x: auto;
    padding: 1em;
    text-align: left;
}
#sequence_panel fieldset{
    position: relative;
}
#sequence_panel img{
    position: absolute;
    top: 0px;
    /*float: left;*/
}
#sequence_panel input, #sequence_panel label{
    /*float: right;*/
    margin-left: 170px;
    width: 5em;
}
#sequence_panel p{
    margin-top: 40px;
}