
form#calendar_widget, .main {
width:200px;
padding: 0;
}

table.main {
border:1px solid black;
}

.month {
background-color:black;
font:bold 12px verdana;
color:white;
}

.daysofweek {
background-color:gray;
font:bold 12px verdana;
color:white;
}

#calendar_widget .days {
font-size: 12px;
font-family:verdana;
color:black;
background-color: lightyellow;
padding: 2px;
}

#calendar_widget .days #today{
font-weight: bold;
color: red;
}

