/*
CART PALLET - the floating representation of the shopping cart that appears on BUY clicks
*/
div#cart_pallet {
/*    background-color: white;*/
    background-color: #dcdacf;
    color: #72673a;
    border: thin solid #062619;
    position: absolute;
    width: 400px;
    padding: 1em;
	z-index: 6000;
}

	div[id*=cart_] * {
		padding: 0;
		margin: 0;
	}
	
	div[id*=cart_] > div.item_detail, div[id*=cart_] > div.item_summary {
		border-bottom: #b89b5c thin solid;
		margin-bottom: 0.5em;
		padding-bottom: 0.5em;
	}
	
		div[id*="cart_"] > div.item_detail .line_total {
			border-left: thin solid #4e7373;
			padding: 0.5em;
		}

	div[id*=cart_] > div > div.item_text > h1 {
		background-color: transparent;
		border: medium none;
		font-size: 14px;
		font-variant: normal;
		color:#062619;
/*		margin: 0;
		padding: 0;*/
	}

	div[id*=cart_] > div > div.item_text > p {
		font-size: 12px;
		margin: 0.2em 0 0;
		padding: 0;
		color: #72673a;	
	}

	div[id*=cart_] > div > div.item_text > ul {
		font-size: 12px;
		margin: 0.2em 0 0 1em;
	}

	div[id*=cart_] > div > div.item_text > ul > li {
		list-style: outside disc;
	}
	
		div[id*=cart_] > div > p.tools {
			display: block;
		}
		
		div[id*=cart_] span.total {
			vertical-align: middle;
			font-size: 24px;
			color:#062619;
		}

		div[id*=cart_] p.item_total {
			margin-top: 3px;
		}

	div[id*=cart_] > div.item_detail {
		/* display settings for children */
	}
	
		div[id*=cart_] > div.item_detail > * {
			display: block;
		}
		
		div[id*=cart_] > div.item_detail > div.item_tools {
			height: 25px;
		}
		
			div[id*=cart_] > div.item_detail > div.item_tools > * {
				display: inline-block;
			}

			div[id*=cart_] > div.item_detail > div.item_tools > div.item_price {
				float: right;
			}

				div[id*=cart_] > div.item_detail > div.item_tools > div.item_price > * {
					display: inline;
	}

	div[id*=cart_] > div.item_summary {
		/* display settings for children */
	}

		div[id*=cart_] > div.item_summary > div.item_price,
		div[id*=cart_] > div.item_summary > div.item_text {
			display: inline-block;
		}
		
			div[id*=cart_] > div.item_summary > div.item_tools > * {
				display: block;
			}
			
			div[id*=cart_] > div.item_summary > div.item_tools {
				float: right;
			}

				div[id*=cart_] > div.item_summary > div.item_tools > div.item_price > * {
					display: block;
				}

a.tool {
    color: #4e7373;
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
}
a.tool:hover {
    color: #094351;
    font-weight: bold;
    text-decoration: underline;
}
div[id*=cart_] > div > p.tools {
    text-align: right;
    margin: 0 0 .2em;
}

.item_calc > input {
    width: 4em;
}

.item_price {
    font-size: 12px;
    text-align: right;
}

.cart_summary > p > span.label {
    width: 78%;
}
.cart_summary > p > span.amt {
    width: 20%;
}
.cart_summary > p > span {
    display: inline-block;
    font-size: 14px;
    text-align: right;
}
.cart_summary > p > span.amt:before {
    content: "$ ";
}


