/*
CART PALLET - the floating representation of the shopping cart that appears on BUY clicks
*/
div#cart_pallet {
/*    background-color: white;*/
    background-color: #dcdacf;
    color: #72673a;
    border: thin solid #062619;
    position: absolute;
    width: 400px;
    padding: 1em 3em 3em;
	z-index: 6000;
}

	div[id*=cart_] * {
		padding: 0;
		margin: 0;
	}
	
	div[id*="cart_"] > div.item_text > div.blurb, 
	div[id*="cart_"] > div.item_text > div.options, 
	div[id*="cart_"] > div.item_text > div.options ul {
		color: #094351;
		font-size: 14px;
		margin: 4px 0;
		background: none;
		padding: 0;
}
	
	div[id*=cart_] > div.item_detail, div[id*=cart_] > div.item_summary {
		border-bottom: #b89b5c thin solid;
		margin-bottom: 0.5em;
		padding-bottom: 1.5em;
	}
	
		div[id*="cart_"] > div.item_detail .line_total {
			border-left: thin solid #4e7373;
			padding: 0.5em;
		}

	div[id*=cart_] > div > div.item_text > h1 {
		background-color: transparent;
		border: medium none;
		font-size: 16px;
		font-variant: normal;
		font-weight: bold;
		color:#062619;
/*		margin: 0;
		padding: 0;*/
	}

	div[id*=cart_] > div > div.item_text > p {
		font-size: 12px;
		margin: 0.2em 0 0;
		padding: 0;
		color: #72673a;	
	}

	div[id*=cart_] > div > div.item_text > ul {
		font-size: 12px;
		margin: 0.2em 0 0 1em;
	}

	div[id*=cart_] > div > div.item_text > ul > li {
		list-style: outside disc;
	}
	
		div[id*=cart_] > div > p.tools {
			display: block;
		}
		
		div[id*=cart_] span.total {
			vertical-align: middle;
			font-size: 24px;
			color:#062619;
		}

		div[id*=cart_] p.item_total {
			margin-top: 3px;
		}

	div[id*=cart_] > div.item_detail {
		/* display settings for children */
	}
	
		div[id*=cart_] > div.item_detail > * {
			display: block;
		}
		
		div[id*=cart_] > div.item_detail > div.item_tools {
			height: 25px;
		}
		
			div[id*=cart_] > div.item_detail > div.item_tools > * {
				display: inline-block;
			}

			div[id*=cart_] > div.item_detail > div.item_tools > div.item_price {
				float: right;
			}

				div[id*=cart_] > div.item_detail > div.item_tools > div.item_price > * {
					display: inline;
	}

	div[id*=cart_] > div.item_summary {
		/* display settings for children */
	}

		div[id*=cart_] > div.item_summary > div.item_price,
		div[id*=cart_] > div.item_summary > div.item_text {
			display: inline-block;
		}
		
			div[id*=cart_] > div.item_summary > div.item_tools > * {
				display: block;
			}
			
			div[id*=cart_] > div.item_summary > div.item_tools {
				float: right;
			}

				div[id*=cart_] > div.item_summary > div.item_tools > div.item_price > * {
					display: block;
				}
				
				div[id*="cart_"] > div.item_summary > div.item_tools > a.tool {
					display: inline-block;
					float: right;
					margin-bottom: 3px;
					margin-left: 5px;
				}

a.tool {
    color: #4e7373;
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
}
a.tool:hover {
    color: #094351;
    font-weight: bold;
    text-decoration: underline;
}
div[id*=cart_] > div > p.tools {
    text-align: right;
    margin: 0 0 .2em;
}

.item_calc > input {
    width: 4em;
}

.item_price {
    font-size: 12px;
    text-align: right;
}

.cart_summary > p > span.label {
    width: 78%;
}
.cart_summary > p > span.amt {
    width: 20%;
}
.cart_summary > p > span {
    display: inline-block;
    font-size: 14px;
    text-align: right;
}
.cart_summary > p > span.amt:before {
    content: "$ ";
}

fieldset#required_contact div.input.checkbox, fieldset#required_contact p {
    margin-left: 20%;
}

fieldset#required_contact p {
	padding: 5px 0 10px 2%;
	color: #a32;
	font-size: 90%
}

div#cart_checkout {
    position: relative;
}

div.cover {
    background-color: white;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}

h2.checkout {
    background: none repeat scroll 0 0 #374426;
    color: white;
    font-family: "Gill Sans","lucida grande",helvetica,arial,sans-serif;
    font-size: 160%;
    padding: 0.3em 0.3em 0.4em 0.4em;
}

form#CartContactsForm {
    margin: 0;
    width: 100%;
} 

form#CartContactsForm {
    margin: 0;
    width: 100%;
}

fieldset legend {
	color: #062619;
}