/*#detail  {
	position: absolute;
	z-index: 4;
	top: 10px;
	left: 155px;
	visibility: visible;
	display: block;
	width: 640;
}*/
#detail {
    width: 900px;
}
#directory   { position: absolute; z-index: 2; top: 10px; left: 5px; visibility: visible; display: block }
#drksubhead     { color: #9a3614; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
#drkparagraph  { color: black; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
#ltsubhead  { color: #e7df7e; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
#ltparagraph  { color: white; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.option_head {	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	line-height: 18px;
	background-color: #D0D9D7;
	letter-spacing: normal;
	color: #025C0D;
	text-indent: 10px;
	padding-left: 5px;
	font-weight: bold;
	padding-right: 5px;
}
.option_pop {font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	line-height: 18px;
	background-color: #D0D9D7;
	letter-spacing: normal;
}
#orderform td {	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	color: #025C0D;
	background-color: #EEE898;
	text-indent: 10px;
	border: 1px none #FFFFFF;
        text-align: center;
}
.table_bottom {
font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FAF4A0;
	background-color: #025C0D;
	letter-spacing: normal;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
	height: 5px;
	margin: auto;
}
#orderform td span {font-size: x-small;
	color: #19807E;
}
.style4 {font-size: x-small; color: #E7F2F0; }
.style5 {color: #025C0D}
.style6 {font-size: 14px}
/*.table_heading {font-size: 14px;
	color: #025C0D;
	background-color: #E7F2F0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-indent: 10px;
	line-height: 18px;
}*/
.table_name {font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #CAEEE8;
	background-color: #025C0D;
	letter-spacing: normal;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	height: 50px;
	margin: auto;
}
#orderform td {font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	color: #025C0D;
	background-color: #EEE898;
	text-indent: 10px;
	border: 0px none #FFFFFF;
}
#orderform th {
    background-color: #D0D9D7;
    color: #025C0D;
    font-size: 14px;
    line-height: 18px;
    text-indent: 10px;
    border: none;
}
img#NTtopTransparent, img.missing {
    height: 100px;
}
form table{
    background: white;
}
p.toggle {
    border-bottom: solid 3px #EEE898;
    cursor: pointer;
    background-color: #025C0D;
    color: #CAEEE8;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    letter-spacing: normal;
    margin: auto;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
span.instruction {
    font-size: 70%;
    font-weight: normal;
}
span.normal {
    color: white;
    display: block;
    padding-top: 7px;
}
/*================================
table form elements
================================*/
.filters input[type="checkbox"]{
    float: none
}
.filters > div.input {
    clear: left;
    display: inline;
    padding: 0;
    margin: 0;
}
#orderform td div.filters {
    /*border-top: thin solid black;*/
    text-align: left;
    padding: 0;
    margin: 0;
}
/*div.filters:last-of-type {
    border-bottom: thin solid black;
}*/
th, td {
    display: table-cell;
}
td > label {
/*    background-color: #EEE898;
    border: 0 none #FFFFFF;*/
    display: inline;
    color: #025C0D;
    font-size: 16px;
    font-weight: bolder;
    padding-left: 10px;
}
td > input[type="radio"] {
    display: inline;
    float: none;
    width: auto;
}
/*================================
option form and elements
================================*/
div.options fieldset{
    border: none;
    margin: 0;
    width: 40%;
}
div.options fieldset:first-of-type legend {
    border:none;
}
div.options fieldset legend {
    background: none;
    border-top: thin solid #CCCCCC;
    color: #025C0D;
    font-size: 100%;
    /*font-weight: bold;*/
    margin-bottom: 0;
    margin-top: -3px;
    padding: 3px 0;
    width: 100%;
}
div.options {
    background: none repeat scroll 0 0 #D0D9D7;
    margin-left: 5%;
    padding-top: 10px;
    width: 90%;
}
 
div.radio label {
    display: inline;
    margin: 0 20px 2px 5px;
}
div.options input[type="radio"] {
    display: inline;
    float: none;
    width: auto;
}