* {
    margin: 0;
    padding: 0;
}
body{
	width: 920px;
}
a {
    color: #003d4c;
    font-weight: bold;
    text-decoration: none;
}
#NTfixedNav {
    background-color: #fff;
    /*border-bottom: 2px solid #b89b5c;*/
    width: 100%;
	padding: 10px;}
#headerTools {
    font-size: 10px;
    left: 300px;
    padding: 0 35px 0 0;
    position: absolute;
    text-align: right;
    top: 5px;
    width: 600px;
}
#accountTool, #jumpBox {
    clear: both;
    padding-top: 5px;
}

div#required_data {
    /*background-color: red;*/
    float: right;
    padding-top: 1em;
    width: 450px;
}

div#required_data label {
    padding-bottom: 5px;
    padding-top: 7px;
}
h3.entry {
	color:firebrick;
}
h2.checkout > img {
    padding: 0 12px;
    width: 50px;
}
h2.checkout {
	font-weight: normal;
	color: #f6f6f6;
}
.hide {
	display: none;
}
/*#NTfixedNav {
    padding-right: 0;
}*/