div.day_pattern > input, div.day_pattern > label {
    border: medium none;
    clear: none;
    display: inline-block;
    float: none;
    margin: 0;
    text-align: left;
    width: auto;
}
div.day_pattern > input {
    margin: 0 4px 0 30px;
    text-align: left;
    width: 2%;
}
div.day_pattern > input:first-of-type {
    margin: 0 4px 0 0;
}