@charset "UTF-8";
/*==================================
Diagram baseline settings
====================================*/
div#diagram{
    /*left: 333px;*/
    /*position: absolute;*/
    position: relative;
    float: right;
    /*top: 58px;*/    
    width:437px;
    height:500px;
    padding: 0;
    /*background-color: #D0D9D7;*/
}

div#diagram, div#diagram div{
    padding: 0;
    margin: 0;
}
div#diagram > div, div#belt, div#vbelt, div#beltloop, div#vbeltloop, div#penloop {
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
    box-shadow: 2px 2px 8px #333333;
}
/*==================================
Corner radius settings
====================================*/
div.Journal, div.Reusable_Journal {
    border-radius: 3px;
    -moz-border-radius: 3px;
}
div.Notebook {
    border-radius: 3px 25px 25px 3px;
    -moz-border-radius: 3px 25px 25px 3px;
}
div.Portfolio {
    border-radius: 3px 18px 18px 3px;
    -moz-border-radius: 3px 18px 18px 3px;
}
div.Top_Opening, div.Mini_Notebook{
    border-radius: 2px 2px 15px 15px;
    -moz-border-radius: 2px 2px 15px 15px;
}
 div#case.Top_Opening > div#boards, div#case.Mini_Notebook > div#boards {
    width: 100%;
    height: 75%;
    border-radius: 2px 2px 15px 15px;
    -moz-border-radius: 2px 2px 15px 15px;
}
/*==================================
Quarter Bound board field settings
====================================*/

/* Side-opening boards */
div#case.Journal > div#boards, div#case.Reusable_Journal > div#boards, div#case.Notebook > div#boards, div#case.Portfolio > div#boards{
    width: 75%;
    height: 100%;
    margin-left: 25%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px #888 dotted;
    border-right: 1px #888 solid;
}

/* Top-opening boards */
div#case.Top_Opening > div#boards, div#case.Mini_Notebook > div#boards {
    width: 100%;
    height: 75%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 1px #888 dotted;
    border-bottom: 1px #888 solid;
}

/* Top-opening boards */

/*==================================
Component Base Settings
====================================*/
div#belt {
    border-radius: 30% 2px 2px 30%;
    -moz-border-radius: 30% 2px 2px 30%;
}
div#case.Top_Opening div#belt {
    border-radius: 30% 30% 2px 2px;
    -moz-border-radius: 30% 30% 2px 2px;
}
div#beltloop, div#penloop {
    border-radius: 2px;
    -moz-border-radius: 2px;
}