@charset "UTF-8";
/* CSS Document */

#fixedNav {
	margin: 0px auto 0px auto;
	padding: 5px 0px 0px 25px;
	position: fixed;
	left: auto;
	top: 0px;
	right: auto;
	height: 145px;
	background-color:#FFF;
	width: 900px;
}	
#homelogo {
	position: relative;
	top: 0px;
	left: 0px;
}
#scrolling {
	padding-top: 145px;
	padding-left: 260px;
	width: 660px;
}
#siteSearchBox {
	border-top: solid 3px #ccc;
	padding: 10px 0px;
	width: 190px;
	margin-left: 45px;
}
.inputBox {
	font-size: 10px;
	text-align: right;
	color:#999
}
#accountTool, #jumpBox {
	clear: both;
	padding-top: 5px;
}
#jumpBox label, #jumpBox input {
	display: inline;
}
input.inputBox {
	width: 8em;
	margin-left: 5px;
}
/*===============================
Menu
Muney navigation strip formatting
===============================*/
ul {
	font-size: 16px;
	/*
	margin:0px;
	padding:0px;
	*/
}
ul li a {
	margin:0px;
	padding:0px;
	text-indent:0px;
}

li {
	list-style:none;
	text-indent: 0px;
}

sublist ul li a {
	border-right:solid #802A19 .5em;
}
.open {
	display:block;
}

.close {
	display:none;
}
#menuNav {
	position: absolute;
	top: 100px;
	left: 0px;
	width: 245px;
	height:auto;
	background-color:#FFF;
	padding-left: 0px;
}
#navBar {
	font-size: 16px;
	width:190px;
	text-align:right;
	padding: 0px 25px 0px 45px;
	top:45px;
	height: auto;
	/* border: solid #fff 1px;*/ 
	background-color:#FFF;
	position: absolute;
	/*left:45px;*/
}
#navBar ul {
	font-size:91%;
	margin-right:2px;
	margin-left:-10px;
	margin-bottom:6px;
	margin-top:4px;
}
#navBar li {
	margin-top:2px;
	margin-right:4px;
	/*line-height: .95;*/
}
#navBar a, #navBar a:visited, #navBar a:active {
	color: #003D4C;
	display:block;
	margin-right:-6px;
	padding-right:5px;
        text-decoration: none;
	border-right:solid #ddd .5em;
	border-bottom:solid #eee 1px;
}

#navBar .open a {
	color:#802A19;
	border-right:solid #bbb .5em;
	border-bottom:solid #ddd 1px;
}

#navBar .menuopen a{
	color: #003D4C;
}

#navBar .active a {
	color:#802A19;
	/*font-weight:bold;*/
	border-bottom:solid #802A19 1px;
	border-right:solid #802A19 .5em;
}

#navBar .menuactive a {
	border-right:solid #bbb .5em;
	border-bottom:solid #ddd 1px;    
}

#navBar a:hover {
	color:#802A19;
	text-decoration:inherit;
	border-right:solid #802A19 .5em;
}


/*===============================
Dispatch
Thumbnail navigation bar formatting
===============================*/
#galNav {
	position: absolute;
	top: 55px;
	left: 245px;
	width: 700px;
}
.thumbList ul {
	margin:0px;
	padding:0px;
}
.thumbList li{
	display: inline-block;
	margin:0px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ccc;
	width:66px;
	list-style-type: none;
	text-align: center;
	padding: 0px;
}
.thumbList li a{
	font-size:12px;
	text-decoration:none;
}
.thumbList li:hover{
	border-top-color: #600;
}

.thumbList li a img{
	margin-top:-25px;
	padding-top:25px;
	width:54px;
	height:54px;
}
.thumbList li a img:hover{
	width:68px;
	height:68px;
	padding-top:25px;
	margin:-25px -6px -14px -6px;
}
.thumbList li a:active {
	color:#300;
}
/*===============================*/
#headerTools {
	text-align: right;
	font-size:10px;
	float: right;
	padding: 0px 35px 0px 0px;
}
