/* 
    Document   : newCascadeStyleSheet
    Created on : Jan 23, 2011, 3:56:52 PM
    Author     : dondrake
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

