/* 
    Document   : search_links
    Created on : Jan 13, 2013, 8:12:56 PM
    Author     : dondrake
    Description:
        Purpose of the stylesheet follows.
*/

#feature-pic {
    height: 480px; 
    width: 830px; 
    position: relative; 
    padding-bottom: 10px; 
    /*background: url("/bindery/img/images/thumb/x640y480/musicpads.jpg") no-repeat scroll 0px 0px transparent;*/
}

#feature-overlay {
    position: absolute; 
    top: 0px; 
    background: url("/bindery/img/workshop/feather-mask-left-third.png") repeat scroll 0px 0px transparent; 
    height: 482px; 
    width: 832px; 
    margin-left: -1px; 
    border-top: 6px solid rgb(0, 61, 76); 
    margin-top: 3px;
}

#featurePicture {
    background-color: #fff;
    padding: 3px;
    border: 3px solid #7C3A2D;
    float: left;
    margin: 50px 15px 15px 160px;
}

h2#featureHeading {
    margin: 62px 0 10px 120px;
    padding: 10px;
    font-size: 35px;
    background-color: #7C3A2D;
    color: white;
    border: 2px solid white;
}

#feature-overlay p {
    font-size:17px;
    margin-left: 250px;
}

#featuredSession p.session, #featuredSession p.day {
    text-align: right;
    margin: 0;
}

#featuredSession p.session {
    font-size: 13px;
    font-weight: bold;
    color: #7C3A2D;
    padding-top: 3px;
}

#featuredSession p.day {
    font-size: 11px;
    color: #444;
}

#featuredSession button.register {
  background-color: #7C3A2D;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  color: white;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 10px;
  opacity: 0.9;
  padding: 0px 10px;
}


div#featuredSession {
    position: absolute;
    background-color: white;
    opacity: .85;
    width: 215px;
    /*height: 150px;*/
    /*top: 280px;*/
    left: 1px;
    bottom:45px;
    padding: 4px;
    border:1px solid #7C3A2D;
    padding: 0px 10px 10px 0;
    text-align: right;
    alignment-baseline: 0px;
}

.fdBackground {
    /*background: url("/bindery/img/images/thumb/x640y480/musicpads.jpg") no-repeat scroll 100px 0px transparent;*/
    /*border: thin solid;*/
    /*height: 28px;*/
    /*padding-left: 130px;*/
    margin-left: 220px;
    position: absolute;
    top: 400px;
    /*width: 604px;*/
    /*opacity: .4;*/
}
.featureCost {
    /*height: 28px;*/
    /*background: url("/bindery/img/workshop/feather-mask-right-brick.png") repeat scroll -110px 0px transparent;*/ 
}

h3.featureCost {
    font-weight: bold;
    font-size: 17px;
    margin: 0 0 0 250px;
    color: black;
/*    vertical-align: middle;
    opacity: 1;*/
    /*margin-left: 220px;*/
    position: absolute;
    top: 400px;
}