/* 
    Document   : search_links
    Created on : Jan 13, 2013, 8:12:56 PM
    Author     : dondrake
    Description:
        Purpose of the stylesheet follows.
*/
/*===================================================*/
/*These css elements copied from the blog css for displaying articles*/
.zoom, .local_zoom {
    /*float: right;*/
    padding: 0;
    cursor: pointer;
    margin-top: 100px;
}
.zoom > a, .local_zoom > a {
    /*visibility: hidden;*/
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid #aaa;
    background-color: #eae7d2;
    color: #999;
    text-decoration: none;
    line-height: 1.5em;
}
.zoom:hover, .local_zoom:hover > a {
    visibility:visible;
}
#scrolling {
/*	padding-top: 150px;*/
	padding-left: 260px;
        padding-top: 10px;
	width: 800px;
}
#scrolling h1, #scrolling h2, #scrolling h3, #scrolling h4, #scrolling h5, #scrolling h6 {
    color: #3f6d44;
}
#scrolling h1 {
    /*color: #3f6d44;*/
    background-color: transparent;
    font-size: 18px;
    margin: 0;
    padding: 0px 15px 10px 12px;
    /*text-align: right;*/
    /*font-weight: bold;*/
    /*font-variant: small-caps;*/
    /*border-top: thin solid #802A19;*/
}
#scrolling h2 {
    /*color: #3f6d44;*/
    background-color: transparent;
    font-size: 36px;
    margin: 0;
    padding: 0px 15px 0 12px;
    /*text-align: right;*/
    font-weight: bold;
    /*font-variant: small-caps;*/
    /*border-top: thin solid #802A19;*/
    font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
}
div.entry img{
    float: left;
    padding: 3px;
    margin: 5px 20px 10px 2px;
    border: 1px solid #b4ab61;
    background-color: #fff;
}
/*The visual indicator of hover_zoom on blog inline images*/
.entry .markdown menu.hover_zoom{
    position: relative;
    float: right;
/*    margin-left: -20px;
    margin-bottom: 120px;
    transform: rotate(-45deg);
    transform-origin: center top 0;*/
    opacity: .8;
    margin: 12px 12px 110px -50px;
}
.entry .markdown menu.hover_zoom a{
    padding: 1px 3px;
    color: black;
    font-weight: bold;
}
#detail .entryText img#zoomed{
    position: absolute;
}
.entry menu.zoom, .entry menu.local_zoom{
/*.entry menu.zoom{*/
    position: absolute;
    margin-top: 0px;
    font-size: 10px;
}
div.entryText{
    margin-left:160px;
    margin-top: 60px;
    padding: 15px 10px 15px 0px;
/*    border-bottom-left-radius: 50% 10%;
    border-bottom: thin solid #993;*/
    border-top-right-radius: 14em 2em;
    border-top: thin solid #993;
}
.x160y120, .x1000y750 {
    border-top-right-radius: 0px 0px;
    margin-top: 0px;
    margin-left: 187px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.x1000y750 {
    border: none;
}
.x640y480 {
    margin-top: 460px;
    padding-top: 42px;
}
div.entry img.imgx640y480 {
    margin-right: 130px;
}
#detail .entryText img{
    margin: 2px 0px 2px 8px;
    float: right;
}
.entryText p{
    margin: 0px 0px 8px;
}
.entryText:first-child{
    margin-top: 15px;
}
/*.entryText > h2:first-child {
    margin-top: 15px;
}*/
.entryTex p:last-of-type{
    margin-bottom: 20px;
}
.entryText h2, .entryText h5, .entryText h5, .entryText h5, .entryText h6 {
    margin: 6px 0px 4px;
    color: #3f6d44;
    background-color: transparent;
}
.entryText h2{
    font-size: 20px;
}
div.entry{
    float:left;
    position: relative;
    margin:0;
    padding:0;
}
/*==========================================*/

#scrolling h2 {
    clear: none;
}
#feature-pic {
    height: 480px; 
    width: 830px; 
    position: relative; 
    padding-bottom: 10px; 
    /*background: url("../img/images/thumb/x640y480/musicpads.jpg") no-repeat scroll 0px 0px transparent;*/
}

#feature-overlay {
    position: absolute; 
    top: 0px; 
    background: url("../img/workshop/feather-mask-left-third.png") repeat scroll 0px 0px transparent; 
    height: 482px; 
    width: 832px; 
    margin-left: -1px; 
    border-top: 6px solid rgb(0, 61, 76); 
    /*margin-top: 3px;*/
}

#featurePicture {
    background-color: #fff;
    padding: 3px;
    border: 3px solid #7C3A2D;
    float: left;
    margin: 50px 15px 15px 160px;
}

h2#featureHeading {
    margin: 62px 0 10px 120px;
    padding: 10px;
    font-size: 35px;
    background-color: #7C3A2D;
    color: white;
    border: 2px solid white;
}

#feature-overlay p {
    font-size:17px;
    margin-left: 250px;
}

#featuredSession p.session, #featuredSession p.day {
    text-align: right;
    margin: 0;
}

#featuredSession p.session {
    font-size: 13px;
    font-weight: bold;
    color: #7C3A2D;
    padding-top: 3px;
}

#featuredSession p.day {
    font-size: 11px;
    color: #444;
}

#featuredSession button.register {
  background-color: #7C3A2D;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  color: white;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 10px;
  opacity: 0.9;
  padding: 0px 10px;
}


div#featuredSession {
    position: absolute;
    background-color: white;
    opacity: .85;
    width: 215px;
    /*height: 150px;*/
    /*top: 280px;*/
    left: 1px;
    bottom:45px;
    padding: 4px;
    border:1px solid #7C3A2D;
    padding: 0px 10px 10px 0;
    text-align: right;
    alignment-baseline: 0px;
}

.fdBackground {
    /*background: url("../img/images/thumb/x640y480/musicpads.jpg") no-repeat scroll 100px 0px transparent;*/
    /*border: thin solid;*/
    /*height: 28px;*/
    /*padding-left: 130px;*/
    margin-left: 220px;
    position: absolute;
    top: 400px;
    /*width: 604px;*/
    /*opacity: .4;*/
}
.featureCost {
    /*height: 28px;*/
    /*background: url("../img/workshop/feather-mask-right-brick.png") repeat scroll -110px 0px transparent;*/ 
}

h3.featureCost {
    font-weight: bold;
    font-size: 17px;
    margin: 0 0 0 250px;
    color: black;
/*    vertical-align: middle;
    opacity: 1;*/
    /*margin-left: 220px;*/
    position: absolute;
    top: 400px;
}

#featureHeading a {
    color: #CCCCCC;
}


/* ============================================================ */
/* ============================================================ */
li.prime {
    margin-bottom: 1px;
    padding-left: 46px;
	padding-bottom: 6px;
	background: url("../img/li-bk.png") repeat-y transparent;
	position: relative;
}
li.prime > b {
    color: white;
    cursor: pointer;
    font-size: 120%;
    left: 10px;
    position: absolute;
    top: 5px;
}
li.prime > p {
     color: #094351;
     font-weight: bold;
     padding-top: 7px;
}

li.prime > ul > li {
     color: #777777;
     font-size: 86%;
}

span.cost {
     font-weight: bold;
}

li.prime > ul > li:first-child {
     color: #094351;
     padding: 2px 0px;
}
.am, .pm {
    font-size: 50%;
    /*font-variant: sub;*/
}
span.day {
    font-weight: bold;
}