<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="../../webroot/css/basic.css" rel="stylesheet" type="text/css" />
<link href="../../webroot/css/new.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="fixedNav">
<div id="absNav">
  <img id="homelogo" src="../../webroot/img/dmboldlogo.png" />
  <div id="headerTools">
  	<div id="accountTool">
  		<p><a href="/users/login">Log In</a> | <a href="/users/register">Register</a></p>
  	</div>
  	<div id="jumpBox">
  		<label class="inputBox" for="j">Showing #5 of 14</label><input type="text" name="j" class="jump_input inputBox" onfocus="if(this.value=='Jump to #'){ this.value=''; }" onblur="if(this.value==''){ this.value='Jump to #'; }" value="Jump to #">
  	</div>
  </div>
  <div id="galNav">
	<ul class="thumbList">
        <li><a class="thumb" href="#1">1<br /><img src="../../webroot/img/dispatches/thumb/x54y54/CRW_7904.jpg" /></a></li>
        <li><a class="thumb" href="#2">2<br /><img src="../../webroot/img/dispatches/thumb/x54y54/CRW_7963.jpg" /></a></li>
        <li><a class="thumb" href="#3">3<br /><img src="../../webroot/img/dispatches/thumb/x54y54/CRW_7970.jpg" /></a></li>
        <li><a class="thumb" href="#4">4<br /><img src="../../webroot/img/dispatches/thumb/x54y54/CRW_8106.jpg" /></a></li>
        <li><a class="thumb" href="#5">5<br /><img src="../../webroot/img/dispatches/thumb/x54y54/DSC00310.JPG" /></a></li>
   		<li><a class="thumb" href="#6">6<br /><img src="../../webroot/img/dispatches/thumb/x54y54/DSC00311.JPG" /></a></li>
    	<li><a class="thumb" href="#7">7<br /><img src="../../webroot/img/dispatches/thumb/x54y54/DSC00313.JPG" /></a></li>
    	<li><a class="thumb" href="#8">8<br /><img src="../../webroot/img/dispatches/thumb/x54y54/DSC00322.JPG" /></a></li>
    	<li><a class="thumb" href="#9">9<br /><img src="../../webroot/img/dispatches/thumb/x54y54/DSC00325.JPG" /></a></li>
    </ul>
  </div>
  <div id="menuNav">
  <div id="siteSearchBox"><input type="text" name="q" class="search_input inputBox" onfocus="if(this.value==' Search'){ this.value=''; }" onblur="if(this.value==''){ this.value=' Search'; }" value=" Search"></div>
	<div id="navBar">
        <ul>
			<li id="145" class="menu"><a href="/todos/manage_tree">To Do</a></li>
			<li id="29" class="menu"><a href="/home">The Bindery</a></li>
			<li id="30" class="open"><a href="/products">Products</a>
			<ul>
				<li id="60" class="open"><a href="/products/journals">Journals</a>
					<ul>
						<li id="68" class="menuactive"><a href="/products/journals/gallery">Gallery</a></li>
						<li id="83" class="active"><a href="/products/journals/news">On the Bench</a></li>
						<li id="96" class="menuactive"><a href="/products/journals/purchase">Order</a></li>
					</ul>
				</li>
				<li id="61" class="menuopen"><a href="/products/albums">Photo Albums</a></li>
				<li id="62" class="menuopen"><a href="/products/notebooks">Notebooks</a></li>
				<li id="63" class="menuopen"><a href="/products/portfolios">Portfolios</a></li>
				<li id="64" class="menuopen"><a href="/products/guestbooks">Guest Books</a></li>
				<li id="65" class="menuopen"><a href="/products/boxes">Boxes</a></li>
				<li id="66" class="menuopen"><a href="/products/publishing">Personal Publishing</a></li>
				<li id="85" class="menuopen"><a href="/products/business_diaries">Business Diaries</a></li>
				<li id="67" class="menuopen"><a href="/products/otherproducts">Other Products</a></li>
			</ul>
			</li>
			<li id="31" class="menu"><a href="/art">Art &amp; Editions</a></li>
			<li id="32" class="menu"><a href="/workshops">Workshops</a></li>
			<li id="97" class="menu"><a href="/intern">Internships</a></li>
		</ul>
 	</div>  
 </div>
</div>
</div>
<div id="scrolling">
<h3>lkjlkjsdflkjsadflkjasdflkjasdlfkjsaldkfjlsdposudfpsopdif</h3>
<h3>lkjlkjsdflkjsadflkjasdflkjasdlfkjsaldkfjlsdposudfpsopdif</h3>
<h3>lkjlkjsdflkjsadflkjasdflkjasdlfkjsaldkfjlsdposudfpsopdif</h3>
<h3>lkjlkjsdflkjsadflkjasdflkjasdlfkjsaldkfjlsdposudfpsopdif</h3>
<h3>lkjlkjsdflkjsadflkjasdflkjasdlfkjsaldkfjlsdposudfpsopdif</h3>
<p style="color:#000">lkjlkjsdflkjsadflkjasd flkjasdl fkjsald kfjlsdposudfpso pdiflkjl kjsdflkjsadflkjas dflkjasdlfk jsaldkfjls dposudfps opdiflkjlk jsdflkjsadfl kjasdf</p>
<h3>lkjlkjsdflkjsadflkjasdflkjasdlfkjsaldkfjlsdposudfpsopdif</h3>
<h3>lkjlkjsdflkjsadflkjasdflkjasdlfkjsaldkfjlsdposudfpsopdif</h3>
<h3>lkjlkjsdflkjsadflkjasdflkjasdlfkjsaldkfjlsdposudfpsopdif</h3>
<h3>lkjlkjsdflkjsadflkjasdflkjasdlfkjsaldkfjlsdposudfpsopdif</h3>
<h3>lkjlkjsdflkjsadflkjasdflkjasdlfkjsaldkfjlsdposudfpsopdif</h3>
<h3>lkjlkjsdflkjsadflkjasdflkjasdlfkjsaldkfjlsdposudfpsopdif</h3>
<h3>lkjlkjsdflkjsadflkjasdflkjasdlfkjsaldkfjlsdposudfpsopdif</h3>
<h3>lkjlkjsdflkjsadflkjasdflkjasdlfkjsaldkfjlsdposudfpsopdif</h3>
<h3>lkjlkjsdflkjsadflkjasdflkjasdlfkjsaldkfjlsdposudfpsopdif</h3>
<h3>lkjlkjsdflkjsadflkjasdflkjasdlfkjsaldkfjlsdposudfpsopdif</h3>
<h3>lkjlkjsdflkjsadflkjasdflkjasdlfkjsaldkfjlsdposudfpsopdif</h3>
</div>

</body>
</html>
